{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}

<!--create similar format with blog context-->

{{#each blogs as |blog|}}
<div>
    <h2>{{blog.title}}</h2>
    <h3>By {{blog.user.name}} on {{blog.date}}</h3>
</div>
<div>
    <p>{{blog.content}}</p>
</div>
{{/each}}