{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}

<!--create similar format with blog context-->

{{#each blogs}}
<div>
    <h2>{{title}}</h2>
    <h3>By {{user.username}} on {{date}}</h3>
</div>
<div>
    <p>{{content}}</p>
</div>
{{/each}}